@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    color: #dfd6db;
    font-weight: 400;
    font-style: normal;
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #dfd6db;
    
}

.logo {
    height: 60px;
    width: auto;
    margin-top: 40px;
    margin-left: 140px;
}

.navi {
    text-decoration: none;
    display: flex;
    margin-right: 140px;
    margin-top: 50px;
}

.navi a {
    margin-right: 25px;
    list-style-type: none;
    font-size: 1em;
    text-decoration: none;
    padding: 25px 30px;
    background-color: #121212;
    color: #dfd6db;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.navi a:hover {
    background: #dfd6db;
    color: #050801;
    box-shadow: 0 0 5px #dfd6db,
                0 0 10px #dfd6db,
                0 0 20px #dfd6db,
                0 0 70px #dfd6db;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #121212);
}


.introduction * {
    padding-left: 150px;
}

.introduction h2 {
    margin-top: 80px;
    font-size: 2.5em;
} 

.introduction p {
    margin-top: 20px;
    font-size: 1.2em;
}
